html {
    font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
a:link,
a:hover,
a:active {
    text-decoration: none;
}
